doctype html
html(lang="en")
  head
    title reading response
    link(href='../style.css', rel='stylesheet')
  body
    //- this populates an h1 tag with the title variable from the content object we passed from the server (content.title)
    h1=title

    //- this populates an h2 tag with fixed text (here, "reading response")
    h2 reading response

    //- this populates an h1 tag with the date variable from the content object we passed from the server (content.date)
    h3=date
    
    //- this populates an h1 tag with the text variable from the content object we passed from the server (content.text)
    p=text
